:root {
    --principal: #023047;
    --secundario: #219ebc;
    --secundario2: #8ecae6;
    --amarillo: #ffb703;
    --naranja: #fb8500;
    --claro: #fff;
    --oscuro: #0D0D0D;

    --text-azul: #005f68;
    --text-oscuro: #242424;
    --text-claro: #444444;

    /* Resoluciones */
    --telefono: 480px;
    --tablet: 768px;
    --desktop: 1200px;

    /* Fuentes */
    --fuente-principal: "Montserrat", sans-serif;
}

*,*::before, *::after {
    margin: 0;  
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-principal);
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-claro);
    background-color: lightcyan;
}

h1,h2,h3 {
    text-align: center;
    padding: 0;
    margin: 0;
    /* margin-top: 2rem; */
    margin-bottom: 2rem;
}

h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 3.8rem;
}
h3 {
    font-size: 2.8rem;
}

p {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

/* UTILIDADES */
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
.sombra{
    box-shadow: 0 2px .5rem rgba(0, 0, 0, 0.5);
}

.boton {
    padding: 1rem 3rem;
    background-color: var(--principal);
    border-radius: 1rem;
    border: none;
    color: var(--claro);
    font-weight: 700;
    text-align: center;
}
.boton:hover {
    background-color: var(--secundario);
}

.derecha {
    display: flex;
    justify-content: right;
}

.main > section {
    margin-top: 5rem;
}


/* HEADER */
.header {
    background: linear-gradient(180deg,#023047, #023047de);
    border-bottom: 1px solid rgba(0, 0, 0, 0.281);
}
.header-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header-contenido .logo {
    width: 10rem;
    border-radius: 2rem;
}

.nav-principal {
    display: flex;
    gap: 1rem;
}

.nav-principal a {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--claro);
    font-size: 1.5rem;
    padding: 1rem;
}
.nav-principal a:hover {
    background-color: var(--naranja);
    border-radius: .5rem;
}

/* BANNER */
.banner {
    background: url("../img/banner-pricipal.jpg");
    height: 45rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.281);
}

.banner-contenido {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.banner-contenido h1 {
    text-shadow: 0 0 10px rgb(255, 255, 255);
    color: var(--principal);
    font-weight: 900;
}

.banner-contenido p {
    text-shadow: 0 0 10px white;
    font-weight: 700;
    color: var(--principal)
}



/* MAIN */
.main {
    padding: 1rem 2rem;
    background-color: white;
}

/* ESPECIALIDADES */
.especialidades {
    border-bottom: 1px solid rgba(0, 0, 0, 0.086);
}
.especialidades h2 {
    text-transform: uppercase;
    color: var(--text-azul);
}
.especialidades .btn-contenedor {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.especialidades-contenido {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    gap: 2rem;
}

.especialidad {
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.096);
    overflow: hidden;
    background-color: rgba(248, 248, 255, 0.546);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.226);
}
.especialidad:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
}

.especialidad .img-contenedor {
    aspect-ratio: 1/1;
    overflow: hidden;
}

.especialidad .img-contenedor img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: .5s 0s ease-out;
}
.especialidad:hover .img-contenedor img {
    transform: scale(1.05);
}

.especialidad .info-especialidad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.especialidad .info-especialidad .titulo {
    color: var(--naranja);
    text-transform: uppercase;
}

.especialidad .boton {
    background-color: var(--principal);
}
.especialidad .boton:hover {
    background-color: var(--secundario);
}



/* FOOTER */

.footer {
    background-color: var(--principal);
    padding: 3rem;
    color: var(--claro);
}

.footer .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 120rem;
    margin: 0 auto;
}

.footer .items h3 {
    text-align: left;
    color: darkturquoise;
}

.footer .items svg {
    /* fill: white; */
    /* stroke: var(--naranja) */
    stroke: white
}

.footer .redes-sociales .redes {
    display: flex;
    /* justify-content: space-evenly; */
    gap: 3rem;
}

.footer .ubicacion .cedes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .contacto .medios {
    display: flex;
    flex-direction: column;
}

.footer .copy {
    text-align: center;
    margin: 0 auto;
    margin-top: 3rem;
    max-width: 120rem;
}