/* contactanos */
.contacto {
  width: 50%;
  padding: 30px 0;
  margin: auto;
}

.contacto form {
  display: flex;
  flex-direction: column;
}

.contacto input,
button,
textarea {
  margin: 5px 0;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: medium;
  width: 100%;
}

/* sign in */

.form-signin {
  display: flex;
  height: 100%;
}

.form-signin h3 {
  color: var(--text-oscuro)
}

.form-signin form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

.form-signin input,
button {
  padding: 15px 15px 15px 35px;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
  font-size: medium;
}

.form-signin button {
  background-color: var(--principal);
  color: var(--claro);
}

/* paciente */
.form-pacient {
  width: 50%;
  padding: 30px 0;
  margin: auto;
}

.form-pacient form {
  /* margin: 30px 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-pacient fieldset {
  border: none;
}

.data-os {
  display: flex;
  flex-direction: column;
}

.form-pacient input,
button {
  margin: 5px 0;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: medium;
  width: 100%;
}